.section-team {
    background-color: #ebebeb;
    &__header {
        padding-top: 55px;
        margin: 0 auto;
        text-align: center;
    }
    &__logo {
        padding-bottom: 35px;
    }
    &__title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 70px;
    }
}

.team-slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    &__card {
        background-color: white;
        margin-bottom: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    &__name {
        padding: 40px 90px;
        color: #9f9acf;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__work {
        font-size: 21px;
        font-style: italic;
        margin-bottom: 70px;
    }
    &__footer {
        background-color: #9f9acf;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 18px 80px;
    }
}

.fa-linkedin {
    color: white;
    font-size: 24px;
}

.fa-behance-square {
    color: white;
    font-size: 24px;
}

.fa-google-plus-square {
    color: white;
    font-size: 24px;
}

.fa-twitter-square {
    color: white;
    font-size: 24px;
}

.fa-facebook-square {
    color: white;
    font-size: 24px;
}
